html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calContainer{
    height: 600px;
    width: 400px;
    border: 6px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    
}

.display{
    height: 80px;
    background-color: grey;
    border: 3px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px;
    font-size: 48px;
    font-weight: bolder;
    text-align: right;
}

.contents{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px;
    background-color: black;
    flex-grow: 1;
}

.buttonsRow{
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
}

.button{
    text-align: center;
    color: black;
    background-color: bisque;
    flex-basis: 30px;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: xx-large;
    font-weight: bolder;
    border: 3px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.number,.decimalPoint,.backspace{
    background-color: green;
}

.operator,.clearButton,.signButton{
    background-color: red;
}

.equalTo{
    background-color: rgb(39, 95, 199);
}

.clickEffect{
    opacity: 0.6;
}